<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>
    <%= partial "layouts/partials/navbar" %>
    <%= yield %>
    <script src="https://use.fontawesome.com/cc104eedfa.js"></script>
  </body>
  <!--
    /*
     * Emigre web font kit cXyvSsMX35Tlmod/AMAGtg==
     *
     * These fonts are not shareware.
     * Use of these fonts requires the purchase
     * of a license from Emigre, www.emigre.com
     * Please contact sales@emigre.com
     *
     * To purchase a license to use this font go to:
     * http://www.emigre.com/
     *
     * © 2018 Emigre, Inc
     */
    -->
</html>
