<nav>
  <div id="brand">
    <%= image_tag "logo.png" %>
  </div>
  <div id="navbar">
    <%= link_to "Home", "/" %>
    <%= link_to "Clients", "/clients.html" %>
    <%= link_to "Contact", "/contact.html" %>
    <%= link_to "More", "/" %>
  </div>
  <div id="legal"></div>
</nav>
