<nav>
  <div id="brand">
    <%= image_tag "logo.png" %>
  </div>
  <div id="menu">
    <%= link_to "Home", "index.html", html_options = {class: "menu-link", "id": "home"} %>
    <%= link_to "Clients", "clients.html", html_options = {class: "menu-link", "id": "clients"} %>
    <%= link_to "Contact", "contact.html", html_options = {class: "menu-link", "id": "contact"} %>
    <%= link_to "More", "more.html", html_options = {class: "menu-link", "id": "more"} %>
  </div>
  <div id="legal-link">
    <%= link_to "Legal Stuff", "legal.html", html_options = {class: "menu-link", "id": "legal"} %>
  </div>
</nav>
